@charset "UTF-8";

/* TOP PAGEのstylesheet */
html {
}

@media screen and (max-width: 499px) {
  body {
    font-size: 60%;
    width: 480px;
    background-color: #F2F2F2;
  }

  .top-page {
    font-size: 100%;
    color: #333;
    font-family: Helvetica,Arial,Verdana;
    margin: 15% 0.8em 0;
    padding: 0;
    border: 5px solid #FAFAFA;
    box-sizing: border-box;
    box-shadow: 0 0 5px grey;
  }

  .title-top {
    text-align: center;
    background-color: #FAFAFA;
  }

  .title {
    font-size: 5em;
    font-weight: bold;
    margin: 0 auto;
    overflow: auto;
    user-select: none;
  }

  img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
  }

  .icon {
    margin: 5px auto 10px;
    border-radius: 50%;
    border: solid 5px #E6E6E6;
    box-shadow: 0 0 5px grey;
  }

  .text {
    font-size: 1.5em;
    margin: 5px auto 0;
    color: #848484;
  }

  .title-bottom {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    background-color: #FAFAFA;
    padding: 5px;
  }
}

@media screen and (min-width: 500px) {
  body {
    font-size: 60%;
    margin: 10% 5%;
    background-color: #F2F2F2;
  }

  .top-page {
    color: #333;
    font-family: Helvetica,Arial,Verdana;
    border: 5px solid #FAFAFA;
    margin: 0 25% 0;
    box-sizing: border-box;
    box-shadow: 0 0 5px grey;
  }

  .title-top {
    text-align: center;
    background-color: #FAFAFA;
  }

  .title {
    font-size: 5em;
    font-weight: bold;
    margin: 0 auto 0.2em;
    overflow: auto;
    user-select: none;
  }

  img {
  }

  .icon {
    margin: 0 auto 1%;
    border-radius: 50%;
    border: solid 5px #E6E6E6;
    box-shadow: 0 0 5px grey;
    overflow: auto;
  }

  .text {
    font-size: 1.5em;
    margin: 0;
    color: #848484;
  }

  .title-bottom {
    font-size: 2em;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    background-color: #FAFAFA;
    padding: 5px;
  }

}
